In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
df = pd.read_excel("MIDMARKS-MINOR1-EXAM.xlsx")

In [2]:
df

     S.NO SECTION  DV M-II  PP BEEE  FL FIMS
0       1   ALPHA  12    0  17    9  19   15
1       2   ALPHA  19   12  16   16  18    3
2       3   ALPHA  18   14  18   18  18   16
3       4   ALPHA  15    9  19   17  19   15
4       5   ALPHA  18   17  19   19  20   18
..    ...     ...  ..  ...  ..  ...  ..  ...
475   476     NaN  18    2  12    3  17   15
476   477     NaN  20    6  16   11  20   14
477   478     NaN  20  NaN  18   13  20   18
478   479     NaN  20   20   5   19  18   14
479   480     NaN  20   16  18   19  20   19

[480 rows x 8 columns]

# Mid Marks Data

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 480 entries, 0 to 479
Data columns (total 8 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   S.NO     480 non-null    int64
 1   SECTION  439 non-null    object
 2   DV       479 non-null    object
 3   M-II     477 non-null    object
 4   PP       480 non-null    object
 5   BEEE     478 non-null    object
 6   FL       479 non-null    object
 7   FIMS     480 non-null    object
dtypes: int64(1), object(7)
memory usage: 30.1+ KB

In [4]:
df['SECTION'] = df['SECTION'].fillna('Zeta') 
df['SECTION'] = df['SECTION'].replace('', 'Zeta')
df

     S.NO SECTION  DV M-II  PP BEEE  FL FIMS
0       1   ALPHA  12    0  17    9  19   15
1       2   ALPHA  19   12  16   16  18    3
2       3   ALPHA  18   14  18   18  18   16
3       4   ALPHA  15    9  19   17  19   15
4       5   ALPHA  18   17  19   19  20   18
..    ...     ...  ..  ...  ..  ...  ..  ...
475   476    Zeta  18    2  12    3  17   15
476   477    Zeta  20    6  16   11  20   14
477   478    Zeta  20  NaN  18   13  20   18
478   479    Zeta  20   20   5   19  18   14
479   480    Zeta  20   16  18   19  20   19

[480 rows x 8 columns]

In [5]:
df.rename(columns={'M-II':'M2'},inplace=True)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 480 entries, 0 to 479
Data columns (total 8 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   S.NO     480 non-null    int64
 1   SECTION  480 non-null    object
 2   DV       479 non-null    object
 3   M2       477 non-null    object
 4   PP       480 non-null    object
 5   BEEE     478 non-null    object
 6   FL       479 non-null    object
 7   FIMS     480 non-null    object
dtypes: int64(1), object(7)
memory usage: 30.1+ KB

# Renaming M-II as M2

In [7]:
df['S.NO'] = range(1, len(df) + 1)
df

     S.NO SECTION  DV   M2  PP BEEE  FL FIMS
0       1   ALPHA  12    0  17    9  19   15
1       2   ALPHA  19   12  16   16  18    3
2       3   ALPHA  18   14  18   18  18   16
3       4   ALPHA  15    9  19   17  19   15
4       5   ALPHA  18   17  19   19  20   18
..    ...     ...  ..  ...  ..  ...  ..  ...
475   476    Zeta  18    2  12    3  17   15
476   477    Zeta  20    6  16   11  20   14
477   478    Zeta  20  NaN  18   13  20   18
478   479    Zeta  20   20   5   19  18   14
479   480    Zeta  20   16  18   19  20   19

[480 rows x 8 columns]

In [8]:
df.rename(index={'AB': '0'}, inplace=True)
df

     S.NO SECTION  DV   M2  PP BEEE  FL FIMS
0       1   ALPHA  12    0  17    9  19   15
1       2   ALPHA  19   12  16   16  18    3
2       3   ALPHA  18   14  18   18  18   16
3       4   ALPHA  15    9  19   17  19   15
4       5   ALPHA  18   17  19   19  20   18
..    ...     ...  ..  ...  ..  ...  ..  ...
475   476    Zeta  18    2  12    3  17   15
476   477    Zeta  20    6  16   11  20   14
477   478    Zeta  20  NaN  18   13  20   18
478   479    Zeta  20   20   5   19  18   14
479   480    Zeta  20   16  18   19  20   19

[480 rows x 8 columns]

In [19]:
df['FL'] = df['FL'].fillna(0) 
df=df.dropna()
df

C:\Users\bhara\AppData\Local\Temp\ipykernel_13444\2890049753.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['FL'] = df['FL'].fillna(0)

     S.NO SECTION    DV    M2    PP  BEEE    FL  FIMS
0       1   ALPHA  12.0   0.0  17.0   9.0  19.0  15.0
1       2   ALPHA  19.0  12.0  16.0  16.0  18.0   3.0
2       3   ALPHA  18.0  14.0  18.0  18.0  18.0  16.0
3       4   ALPHA  15.0   9.0  19.0  17.0  19.0  15.0
4       5   ALPHA  18.0  17.0  19.0  19.0  20.0  18.0
..    ...     ...   ...   ...   ...   ...   ...   ...
474   475    Zeta  11.0   4.0   2.0   2.0   8.0  10.0
475   476    Zeta  18.0   2.0  12.0   3.0  17.0  15.0
476   477    Zeta  20.0   6.0  16.0  11.0  20.0  14.0
478   479    Zeta  20.0  20.0   5.0  19.0  18.0  14.0
479   480    Zeta  20.0  16.0  18.0  19.0  20.0  19.0

[474 rows x 8 columns]

In [20]:

df['DV'] = df['DV'].replace(['AB', 'Mp'], 0)

print(df)

     S.NO SECTION    DV    M2    PP  BEEE    FL  FIMS
0       1   ALPHA  12.0   0.0  17.0   9.0  19.0  15.0
1       2   ALPHA  19.0  12.0  16.0  16.0  18.0   3.0
2       3   ALPHA  18.0  14.0  18.0  18.0  18.0  16.0
3       4   ALPHA  15.0   9.0  19.0  17.0  19.0  15.0
4       5   ALPHA  18.0  17.0  19.0  19.0  20.0  18.0
..    ...     ...   ...   ...   ...   ...   ...   ...
474   475    Zeta  11.0   4.0   2.0   2.0   8.0  10.0
475   476    Zeta  18.0   2.0  12.0   3.0  17.0  15.0
476   477    Zeta  20.0   6.0  16.0  11.0  20.0  14.0
478   479    Zeta  20.0  20.0   5.0  19.0  18.0  14.0
479   480    Zeta  20.0  16.0  18.0  19.0  20.0  19.0

[474 rows x 8 columns]

In [21]:
df['SECTION'] = df['SECTION'].fillna('ZETA')
df

     S.NO SECTION    DV    M2    PP  BEEE    FL  FIMS
0       1   ALPHA  12.0   0.0  17.0   9.0  19.0  15.0
1       2   ALPHA  19.0  12.0  16.0  16.0  18.0   3.0
2       3   ALPHA  18.0  14.0  18.0  18.0  18.0  16.0
3       4   ALPHA  15.0   9.0  19.0  17.0  19.0  15.0
4       5   ALPHA  18.0  17.0  19.0  19.0  20.0  18.0
..    ...     ...   ...   ...   ...   ...   ...   ...
474   475    Zeta  11.0   4.0   2.0   2.0   8.0  10.0
475   476    Zeta  18.0   2.0  12.0   3.0  17.0  15.0
476   477    Zeta  20.0   6.0  16.0  11.0  20.0  14.0
478   479    Zeta  20.0  20.0   5.0  19.0  18.0  14.0
479   480    Zeta  20.0  16.0  18.0  19.0  20.0  19.0

[474 rows x 8 columns]

In [22]:



df['DV'] = df['DV'].replace(['MP'], 0)
df

     S.NO SECTION    DV    M2    PP  BEEE    FL  FIMS
0       1   ALPHA  12.0   0.0  17.0   9.0  19.0  15.0
1       2   ALPHA  19.0  12.0  16.0  16.0  18.0   3.0
2       3   ALPHA  18.0  14.0  18.0  18.0  18.0  16.0
3       4   ALPHA  15.0   9.0  19.0  17.0  19.0  15.0
4       5   ALPHA  18.0  17.0  19.0  19.0  20.0  18.0
..    ...     ...   ...   ...   ...   ...   ...   ...
474   475    Zeta  11.0   4.0   2.0   2.0   8.0  10.0
475   476    Zeta  18.0   2.0  12.0   3.0  17.0  15.0
476   477    Zeta  20.0   6.0  16.0  11.0  20.0  14.0
478   479    Zeta  20.0  20.0   5.0  19.0  18.0  14.0
479   480    Zeta  20.0  16.0  18.0  19.0  20.0  19.0

[474 rows x 8 columns]

In [23]:



df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 474 entries, 0 to 479
Data columns (total 8 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   S.NO     474 non-null    int64
 1   SECTION  474 non-null    object
 2   DV       474 non-null    float64
 3   M2       474 non-null    float64
 4   PP       474 non-null    float64
 5   BEEE     474 non-null    float64
 6   FL       474 non-null    float64
 7   FIMS     474 non-null    float64
dtypes: float64(6), int64(1), object(1)
memory usage: 33.3+ KB

In [24]:
df['DV'] = pd.to_numeric(df['DV'], errors='coerce')
df['M2'] = pd.to_numeric(df['M2'], errors='coerce')
df['PP'] = pd.to_numeric(df['PP'], errors='coerce')
df['BEEE'] = pd.to_numeric(df['BEEE'], errors='coerce')
df['FL'] = pd.to_numeric(df['FL'], errors='coerce')
df['FIMS'] = pd.to_numeric(df['FIMS'], errors='coerce')
df.fillna(0, inplace=True)

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 474 entries, 0 to 479
Data columns (total 8 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   S.NO     474 non-null    int64
 1   SECTION  474 non-null    object
 2   DV       474 non-null    float64
 3   M2       474 non-null    float64
 4   PP       474 non-null    float64
 5   BEEE     474 non-null    float64
 6   FL       474 non-null    float64
 7   FIMS     474 non-null    float64
dtypes: float64(6), int64(1), object(1)
memory usage: 33.3+ KB

# Converting into numeric

In [26]:
df.isnull().sum()

S.NO       0
SECTION    0
DV         0
M2         0
PP         0
BEEE       0
FL         0
FIMS       0
dtype: int64

In [27]:
df.info

<bound method DataFrame.info of      S.NO SECTION    DV    M2    PP  BEEE    FL  FIMS
0       1   ALPHA  12.0   0.0  17.0   9.0  19.0  15.0
1       2   ALPHA  19.0  12.0  16.0  16.0  18.0   3.0
2       3   ALPHA  18.0  14.0  18.0  18.0  18.0  16.0
3       4   ALPHA  15.0   9.0  19.0  17.0  19.0  15.0
4       5   ALPHA  18.0  17.0  19.0  19.0  20.0  18.0
..    ...     ...   ...   ...   ...   ...   ...   ...
474   475    Zeta  11.0   4.0   2.0   2.0   8.0  10.0
475   476    Zeta  18.0   2.0  12.0   3.0  17.0  15.0
476   477    Zeta  20.0   6.0  16.0  11.0  20.0  14.0
478   479    Zeta  20.0  20.0   5.0  19.0  18.0  14.0
479   480    Zeta  20.0  16.0  18.0  19.0  20.0  19.0

[474 rows x 8 columns]>

In [28]:

df['Total'] = df['DV'] + df['M-II'] + df['PP'] + df['BEEE'] + df['FL'] + df['FIMS']
df

KeyError: 'M-II'

# Calculating total

In [29]:
df["Percentage"] = (df['Total']/120)*100

KeyError: 'Total'

In [30]:
df

     S.NO SECTION    DV    M2    PP  BEEE    FL  FIMS
0       1   ALPHA  12.0   0.0  17.0   9.0  19.0  15.0
1       2   ALPHA  19.0  12.0  16.0  16.0  18.0   3.0
2       3   ALPHA  18.0  14.0  18.0  18.0  18.0  16.0
3       4   ALPHA  15.0   9.0  19.0  17.0  19.0  15.0
4       5   ALPHA  18.0  17.0  19.0  19.0  20.0  18.0
..    ...     ...   ...   ...   ...   ...   ...   ...
474   475    Zeta  11.0   4.0   2.0   2.0   8.0  10.0
475   476    Zeta  18.0   2.0  12.0   3.0  17.0  15.0
476   477    Zeta  20.0   6.0  16.0  11.0  20.0  14.0
478   479    Zeta  20.0  20.0   5.0  19.0  18.0  14.0
479   480    Zeta  20.0  16.0  18.0  19.0  20.0  19.0

[474 rows x 8 columns]

In [ ]:
df['Percentage'] = df['Percentage'].round().astype(int)
df

In [ ]:




def assign_grade(percentage):
    if percentage >= 90:
        return 'A'
    elif percentage >= 80:
        return 'B+'
    elif percentage >= 70:
        return 'B'
    elif percentage >= 60:
        return 'C+'
    elif percentage >=50:
        return 'C'
    elif percentage >=40:
        return 'D'
    else:
        return 'F'
df['Grade'] = df['Percentage'].apply(assign_grade)
df

In [ ]:
df.plot()
plt.show()

In [ ]:
plt.figure(figsize=[8, 4])
plt.hist(df['Total'], color='cyan', bins=10, edgecolor='black')
plt.title("Distribution of Total Marks")
plt.xlabel("Total Marks")
plt.ylabel("Number of Students")
plt.show()

# Distribution of Total marks in Histogram

In [ ]:
df['DV'] = pd.to_numeric(df['DV'], errors='coerce')
df = df.dropna(subset=['DV'])
plt.hist(df['DV'], bins=10, color='red', edgecolor='black')
plt.title("Distribution of DV Marks")
plt.xlabel("DV Marks")
plt.ylabel("Number of Students")
plt.show()

# Distribution of DV Marks

In [ ]:
df['M2'] = pd.to_numeric(df['M-II'], errors='coerce')
df = df.dropna(subset=['M-II'])
plt.hist(df['M-II'], bins=10, color='orange', edgecolor='black')
plt.title("Distribution of M2 Marks")
plt.xlabel("M2 Marks")
plt.ylabel("Number of Students")
plt.show()

# Distribution of M2 Marks

In [ ]:
df['PP'] = pd.to_numeric(df['PP'], errors='coerce')
df['BEEE'] = pd.to_numeric(df['BEEE'], errors='coerce')
df_clean = df.dropna(subset=['PP', 'BEEE'])

plt.figure(figsize=[10, 6])

plt.subplot(1, 2, 1)
plt.hist(df_clean['PP'], bins=10, color='red', edgecolor='black')
plt.title("Distribution of PP Marks")
plt.xlabel("PP Marks")
plt.ylabel("Number of Students")

plt.subplot(1, 2, 2)
plt.hist(df_clean['BEEE'], bins=10, color='yellow', edgecolor='black')
plt.title("Distribution of BEEE Marks")
plt.xlabel("BEEE Marks")
plt.ylabel("Number of Students")

plt.tight_layout()
plt.show()

# Comparision of PP marks and BEEE marks

In [ ]:
filtered_df = df[df['PP'] > 10]
plt.hist(filtered_df['PP'], bins=10, color='blue', edgecolor='black')
plt.title("PP Marks above 15 ")
plt.xlabel("PP Marks")
plt.ylabel("Number of Students")
plt.show()

# PP Marks who got more than 10

In [ ]:
filtered_df = df[df['M2'] < 10]

plt.hist(filtered_df['M2'], bins=10, color='brown', edgecolor='black')
plt.title("M2 Marks less than 15")
plt.xlabel("M2 Marks")
plt.ylabel("Number of Students")
plt.show()

# M2 Marks Who got less than 10

In [ ]:
plt.scatter(df['FL'], df['FIMS'], c=df['FL'], cmap='viridis', alpha=0.7)
plt.title("FL Marks vs FIMS Marks")
plt.xlabel("FL Marks")
plt.ylabel("FIMS Marks")
plt.colorbar(label='FL Marks')
plt.show()

# Scatter plot of FL VS FIMS Marks

In [ ]:
filtered_df = df[df['PP'] < 10]

plt.scatter(filtered_df.index, filtered_df['PP'], alpha=0.7, color='green')
plt.title("Less than 10 Marks in PP")
plt.xlabel("Student Index")
plt.ylabel("PP Marks")
plt.show()

# 






Scoring of PP Marks Less than 10

In [ ]:
filtered_df = df[df['BEEE'] < 10]

plt.scatter(filtered_df.index, filtered_df['PP'], alpha=0.7, color='blue')
plt.title("More than 10 Marks in BEEE")
plt.xlabel("Student Index")
plt.ylabel("BEEE Marks")
plt.show()

# Scoring of BEEE Marks More than 15

In [ ]:
filtered_df = df[df['DV'] > 10]
plt.scatter(filtered_df.index, filtered_df['DV'], alpha=0.7, color='pink')
plt.title("Students Marks 10 in DV ")
plt.xlabel("Student Index")
plt.ylabel("DV Marks")
plt.show()

# Students who scored 10 marks in DV

In [ ]:
filtered_df = df[df['M2'] == 0]
plt.scatter(filtered_df.index, filtered_df['DV'], alpha=0.7, color='grey')
plt.title("Students Marks 0 in M2 ")
plt.xlabel("Student Index")
plt.ylabel("M2 Marks")
plt.show()

# Students who scored 0 Marks in M2

In [ ]:
filtered_df = df[(df['PP'] == 0) & (df['BEEE'] == 0)]
plt.scatter(filtered_df.index, filtered_df['PP'], alpha=0.7, color='brown')
plt.title("Students Marks 0 in PP and BEEE")
plt.xlabel("Student Index")
plt.ylabel("PP Marks")
plt.show()

# Students scored 0 Marks in PP and BEEE

In [ ]:
plt.figure(figsize=(5, 6))
sns.boxplot(data=df['DV'], color='lightblue')
plt.title("Box Plot of DV Marks")
plt.ylabel("Marks")
plt.show()

# Box plot for the DV Marks

In [ ]:
plt.figure(figsize=(8, 6))
sns.boxplot(data=df['BEEE'], color='lightgreen')
plt.title("Box Plot of BEEE Marks")
plt.ylabel("Marks")
plt.show()

# Box plot of BEEE Marks

In [ ]:



plt.figure(figsize=(8, 6))
sns.boxplot(data=df['FL'], color='lightpink')
plt.title("Box Plot of FL Marks")
plt.ylabel("Marks")
plt.show()

# Box plot for the FL Marks

In [ ]:
a=df.loc[(df['Total'] >= 75) & (df['Total'] <= 80)]
a=a.reset_index()
a

# Total marks between 75 to 80

In [ ]:
a.plot.line(x='DV',y='Total',color='red')
plt.title("Line Graph of DV")
plt.ylabel("Total")
plt.show()

# Lineplot for total and DV

In [ ]:
a.plot.line(x='FIMS',y='Total',color='red')
plt.title("Line Graph of FIMS")
plt.ylabel("Total")
plt.show()

# Lineplot for total and FIMS

In [ ]:
a.plot.line(x='M2',y='Total',color='blue')
plt.title("Line Graph of M2")
plt.ylabel("Total")
plt.show()

# Lineplot for total and M2

In [ ]:
a.plot.line(x='PP',y='Total',color='blue')
plt.title("Line Graph of PP")
plt.ylabel("Total")
plt.show()

# Lineplot for total and M2

In [ ]:
a.plot.line(x='BEEE',y='Total',color='blue')
plt.title("Line Graph of BEEE")
plt.ylabel("Total")
plt.show()

# Lineplot for total and BEEE

In [ ]:


b=df.loc[(df['Total'] >= 115) & (df['Total'] <= 120)]
b=b.reset_index()
b

# students between 115 and 120

In [ ]:
b['DV'].plot(kind='pie',subplots=True,figsize=(8,8))
plt.title("Pie Chart of DV")

# PIE Chart of DV for 32 students

In [ ]:
b['BEEE'].plot(kind='pie',subplots=True,figsize=(8,8))
plt.title("Pie Chart of BEEE")

# PIE Chart of BEEE for 32 students

In [ ]:
b['PP'].plot(kind='pie',subplots=True,figsize=(8,8))
plt.title("Pie Chart of PP")

# PIE Chart of PP for 32 students

In [ ]:


df.sort_values('Total').tail(10)

In [ ]:
df.sort_values('DV').tail(20)

In [ ]:
df.sort_values('DV').head(50)

In [ ]:
h = df[
    (df['DV'] < 10.0) |
    (df['PP'] < 10.0) |
    (df['M2'] < 10.0) |
    (df['BEEE'] < 10.0) |
    (df['FL'] < 10.0) |
    (df['FIMS'] < 10.0)
]
h['SECTION'].value_counts()

In [ ]:
df['backlogs'] = (df[['DV', 'M2', 'PP', 'BEEE', 'FL', 'FIMS']] < 10).sum(axis=1)
df

In [ ]:
j=df.sort_values('backlogs')
j

In [ ]:
j.value_counts('backlogs')

In [ ]:
import pandas as pd
df = pd.read_excel("MIDMARKS-MINOR1-EXAM.xlsx")
df['Total'] = df['DV'] + df['M-II'] + df['PP'] + df['BEEE'] + df['FL'] + df['FIMS']
df.loc[(df.Total == 40)]

In [ ]:
import pandas as pd


file_path = "MIDMARKS-MINOR1-EXAM.xlsx"  
df = pd.read_excel(file_path, sheet_name="SEM2 MID 1 - ALPHA")

subject_columns = df.columns[2:]
df[subject_columns] = df[subject_columns].apply(pd.to_numeric, errors='coerce')


average_marks = df.groupby("SECTION")[subject_columns].mean()
subject_percentage = (average_marks / 20) * 100
pass_marks = 10
pass_percentage = df.groupby("SECTION")[subject_columns].apply(lambda x: (x >= pass_marks).mean() * 100)
predicted_probability = pass_percentage / 100



print("\nPredicted Probability of Passing for Each Subject by Section:")
print(predicted_probability.to_string())

In [ ]:
df[df["DV"] > 10].value_counts()

In [ ]:
df[df["DV"] > 10]["DV"].value_counts()

In [ ]:
df[df["DV"] > 10].value_counts()

In [ ]:




import pandas as pd
from tabulate import tabulate

file_path = "MIDMARKS.xlsx"  
df = pd.read_excel(file_path, sheet_name="SEM2 MID 1 - ALPHA")

subject_columns = df.columns[2:]

df[subject_columns] = df[subject_columns].apply(pd.to_numeric, errors='coerce')

average_marks = df.groupby("SECTION")[subject_columns].mean()

subject_percentage = (average_marks / 20) * 100

pass_marks = 10

pass_percentage = df.groupby("SECTION")[subject_columns].apply(lambda x: (x >= pass_marks).mean() * 100)


predicted_probability = pass_percentage / 100

print("\n Predicted Probability of Passing for Each Subject by Section:")

print(tabulate(predicted_probability, headers="keys", tablefmt="grid"))

In [ ]:

df["DV"] = pd.to_numeric(df["DV"], errors="coerce")
mean_dv_alpha = df["DV"].mean()
mean_dv_alpha

In [ ]:





df[df["SECTION"] == "ALPHA"].mean(numeric_only=True)

In [ ]:
population_mean = df[df["SECTION"] == "ALPHA"].mean(numeric_only=True)
population_std = df[df["SECTION"] == "ALPHA"].std(numeric_only=True)

population_mean, population_std

In [ ]:
df[df["SECTION"] == "ALPHA"].mean(numeric_only=True)

In [ ]:
df.shape

In [ ]:



import pandas as pd
from scipy.stats import ttest_ind

In [ ]:
df[df["SECTION"] == "ALPHA"]['DV']

In [ ]:
df[df["SECTION"] == "BETA"]['DV']

In [ ]:
df[df["SECTION"] == "SIGMA"]['DV']

In [ ]:
import pandas as pd
from scipy.stats import ttest_ind

ttest_ind(df[df["SECTION"] == "ALPHA"]['DV'],df[df["SECTION"] == "BETA"]['DV'] )

In [ ]:
df[df["SECTION"] == "BETA"]['DV']

In [ ]:
df.DV.mean()

In [ ]:
pip install scipy

In [ ]:
from scipy.stats import chi2_contingency
data = [df[df["SECTION"] == "ALPHA"]['DV'],df[df["SECTION"] == "BETA"]['DV']]
stat, p, dof, expected = chi2_contingency(data)
alpha = 0.05
print("p value is " + str(p))
if p <= alpha:
    print('Dependent (reject H0)')
else:
    print('Independent (H0 holds true)')

In [ ]:
stat

In [ ]:
p

In [ ]:
dof

In [ ]:
dof

In [ ]:
expected

In [ ]:
import scipy.stats as stats
t_statistic,p_value = stats.ttest_1samp(df[df['SECTION']=='ALPHA']['DV'] ,df.DV.mean())
print(t_statistic,p_value)

In [ ]:
import scipy.stats as stats
t_statistic,p_value = stats.ttest_1samp(df[df['SECTION']=='BETA']['DV'] ,df.DV.mean())
print(t_statistic,p_value)

In [ ]:
import scipy.stats as stats
t_statistic,p_value = stats.ttest_1samp(df[df['SECTION']=='GAMMA']['DV'] ,df.DV.mean())
print(t_statistic,p_value)

In [ ]:
import scipy.stats as stats
t_statistic,p_value = stats.ttest_1samp(df[df['SECTION']=='DELTA']['DV'] ,df.DV.mean())
print(t_statistic,p_value)

In [ ]:
import scipy.stats as stats

dv_alpha = df[df['SECTION'] == 'ALPHA']['DV']
dv_beta = df[df['SECTION'] == 'BETA']['DV']

t_statistic, p_value = stats.ttest_ind(dv_alpha, dv_beta, equal_var=False)  # Welch’s t-test

print("T-statistic:", t_statistic)
print("P-value:", p_value)

In [ ]:


import scipy.stats as stats
import pandas as pd

contingency_table = pd.crosstab(df['SECTION'], df['DV'])

chi2_stat, p_value, dof, expected = stats.chi2_contingency(contingency_table)

# Print results
print("Chi-Square Statistic:", chi2_stat)
print("P-value:", p_value)
print("Degrees of Freedom:", dof)
print("Expected Frequencies Table:\n", expected)

In [ ]:



chi2_stat

In [ ]:
p_value

In [ ]:
dof

In [ ]:
expected